<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:o="http://omnifaces.org/ui"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
>
<f:view>
	<h:head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<h:outputStylesheet name="css/bootstrap.css" library="bootstrap"/>
		<!--            <h:outputStylesheet name="css/bootstrap-theme.css" library="bootstrap" />-->
		<h:outputStylesheet library="custom-control" name="css/animate.min.css"></h:outputStylesheet>
		<h:outputStylesheet library="custom-control" name="css/custom.css"></h:outputStylesheet>
		<h:outputStylesheet library="custom-control" name="css/select/select2.min.css"></h:outputStylesheet>
		<h:outputStylesheet library="css" name="cssLayout.css"/>
		<h:outputStylesheet library="css" name="component.css"/>
		<h:outputStylesheet library="css" name="font-awesome.css"/>
		<h:outputStylesheet library="css" name="share-video.css"/>
		<h:outputScript library="bootstrap" name="js/bootstrap.min.js"/>
		<h:outputScript library="js" name="classie.js"/>
		<h:outputScript library="js" name="validate.js"/>

		<h:outputStylesheet name="css/font-icon-layout.css" library="sentinel-layout"/>
		<h:outputStylesheet name="css/sentinel-layout.css" library="sentinel-layout"/>
		<h:outputStylesheet name="css/core-layout.css" library="sentinel-layout"/>
		<h:outputStylesheet name="css/theme.css" library="sentinel-layout"/>
		<h:outputScript name="jquery/jquery.js" library="primefaces" target="head"/>

		<title>Funny video</title>
	</h:head>
	<h:body>


		<div>
			<div>
				<p:toolbar id="toolbar">
					<f:facet name="left">
						<p:commandLink id="layout-logo">
							<p:graphicImage name="funny-movie-1.png" library="images" class="Fs14 Fleft"
											alt="Circleflip" style="height:70px"/>
						</p:commandLink>
						<p:outputLabel value="FUNNY MOVIES" class="font3em"/>
					</f:facet>
					<f:facet name="right">
						<c:if test="${videoController.session == null}">
							<p:commandButton value="Login"
											 class="btn"
											 ajax="true"
											 update="loginForm"
											 action="#{videoController.prepareLogin}"
											 oncomplete="openModalAction('#modalAction')"


							/>
							<p:commandButton value="Register"
											 class="btn"
											 ajax="true"
											 update="registerForm"
											 action="#{videoController.prepareRegister}"
											 oncomplete="openModalAction('#modalRegister')"

							/>
						</c:if>
						<c:if test="${videoController.session != null}">

							<p:outputLabel class="marginRight20" value="Welcome #{videoController.session.username}"/>

							<p:commandButton value="Share a movie"
											 class="btn"
											 ajax="true"
											 update="shareVideoForm"
											 action="#{videoController.prepareShareVideo}"
											 oncomplete="openModalAction('#modalShareVideo')"
							/>

							<p:commandButton value="Logout"
											 class="btn"
											 ajax="true"
											 update="toolbar"
											 icon="pi pi-home"
											 action="#{videoController.logout}"

							/>
						</c:if>

					</f:facet>
				</p:toolbar>
			</div>

			<div class="Container marginTop10">
				<h:form id="searchVideoForm">
					<div class="Container50 Responsive50">
						<div class="Container100">
							<div class="ContainerIndent">
								<div class="Container20 Responsive20">
									<p:outputLabel value="Title" style="color: #000000"/>
								</div>
								<div class="Container80 Responsive80 ">
									<p:inputText value="#{videoController.videoSearchForm.title}"
												 style="width: 100%; color: #000000"/>
								</div>
							</div>
						</div>
					</div>
					<div class="Container50 Responsive50">
						<div class="Container100">
							<div class="ContainerIndent">
								<div class="Container20 Responsive20">
									<p:outputLabel value="Description" style="color: #000000"/>
								</div>
								<div class="Container80 Responsive80 ">
									<p:inputText value="#{videoController.videoSearchForm.description}"
												 style="width: 100%; color: #000000"/>
								</div>
							</div>
						</div>
					</div>
					<div class="Container50 Responsive50">
						<div class="Container100">
							<div class="ContainerIndent">
								<div class="Container20 Responsive20">
									<p:outputLabel value="Shared by" style="color: #000000"/>
								</div>
								<div class="Container80 Responsive80 ">
									<p:inputText value="#{videoController.videoSearchForm.sharedBy}"
												 style="width: 100%; color: #000000"/>
								</div>
							</div>
						</div>
					</div>
				</h:form>
				<div class="Container100">
					<div class="col-md-12 col-sm-12 col-xs-12 text-center MarTop10">
						<p:commandButton
								icon="fa icon-search color-ececec"
								id="search" value="Search"
								ajax="true" update="videoList"
								action="#{videoController.searchVideo()}"
								class="btn btn-blue"
						/>
					</div>
				</div>


				<div class="x_content">
					<p:tooltip/>
					<p:dataTable id="videoList" var="video" value="#{videoController.lazyModel}"
								 widgetVar="datatableWidget"
								 rowKey="#{video.id}"
								 rows="10" paginator="true"
								 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								 rowsPerPageTemplate="5,10,15" rowIndexVar="rowIndex" emptyMessage="No video shared"
								 reflow="true" paginatorPosition="bottom"
								 currentPageReportTemplate="Total record {totalRecords}"
								 lazy="true">

						<!--						<p:column headerText="STT" class="text-center" width="5%">-->
						<!--							<h:outputText escape = "true" value="#{rowIndex+1}" style="color: blue" />-->
						<!--						</p:column>-->
						<p:column headerText="" width="30%">
							<p:graphicImage value="#{video.icon}"/>
						</p:column>
						<p:column headerText="" width="70%">
							<div style="color: red">
								<h:outputText escape="true" value="Title: #{video.title}" title="title"/>
							</div>
							<div>
								<h:outputText escape="true" value="Shared by: #{video.sharedBy}" title="shared by"/>
							</div>
							<div>
								<h:outputText escape="true" value="Description: #{video.description}"
											  title="description"/>
							</div>
						</p:column>
						<!--						<p:column headerText="link" width="10%" sortBy="#{video.link}">-->
						<!--							<h:outputText escape = "true" value="#{video.link}" title="link"/>-->
						<!--						</p:column>-->
						<!--						<p:column headerText="description" width="10%" sortBy="#{video.description}">-->
						<!--							<h:outputText escape = "true" value="#{video.description}" title="description"/>-->
						<!--						</p:column>-->
						<!--						<p:column selectionMode="multiple" style="width:16px; text-align:center"  width="5%"/>-->
					</p:dataTable>
				</div>
			</div>


			<div id="modalAction" class="modal fade">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<h:form id="loginForm">
							<p:focus context="loginForm"/>
							<ui:include src="loginAction.xhtml"/>
						</h:form>
					</div>
				</div>
			</div>

			<div id="modalRegister" class="modal fade">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<h:form id="registerForm">
							<p:focus context="registerForm"/>
							<ui:include src="registerAction.xhtml"/>
						</h:form>
					</div>
				</div>
			</div>

			<div id="modalShareVideo" class="modal fade">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<h:form id="shareVideoForm">
							<p:focus context="shareVideoForm"/>
							<ui:include src="shareVideoAction.xhtml"/>
						</h:form>
					</div>
				</div>
			</div>


			<script type="text/javascript">
				openModalAction = function (modalId) {
					$(modalId).modal('show');
					return false;
				};
				closeModalAction = function (modalId) {
					$(modalId).modal('hide');
					return false;
				};
			</script>
		</div>
	</h:body>
</f:view>
</html>
